extends ../layouts/common

block  content
        h1 LOGIN

        if errors
            each error in errors
                .alert.alert-danger= errors
        form(method="POST")
            .form-group
                label(for='email') email
                input#email.form-control(type='email',name="email"  placeholder='Tên',
                value=values ? values.email : "")
            .form-group
                label(for='password') password
                input#password.form-control(type='password',name="password"
                value= values ? values.password : "")
            button.btn.btn-primary login
